/.cask
/url/cache
/.emacs.desktop
/auto-save-list
/custom.el
*.elc
*~
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
\#*
/elpa
/elpa-*
/.mc-lists.el
/var
/.bookmarks.el
/history
/thumbs/
/eshell
/org-clock-save.el
/recentf
.cache/
/transient
/eln-cache/
/server
/places
/projects
private.el
/etc/gnus/
