[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = https://github.com/Malabarba/aggressive-indent-mode
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
[submodule "auto-save"]
	path = lib/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "beacon"]
	path = lib/beacon
	url = https://github.com/Malabarba/beacon
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "consult"]
	no-byte-compile	= consult-icomplete.el
	no-byte-compile	= consult-selectrum.el
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "consult-eglot"]
	path = lib/consult-eglot
	url = https://github.com/mohkale/consult-eglot
[submodule "corfu"]
	load-path = .
	load-path = extensions
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl
[submodule "emacsql"]
	no-byte-compile = emacsql-pg.el
	no-byte-compile = emacsql-sqlite-module.el
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "flyspell-correct"]
	no-byte-compile = flyspell-correct-avy-menu.el
	no-byte-compile = flyspell-correct-helm.el
	no-byte-compile = flyspell-correct-ido.el
	no-byte-compile = flyspell-correct-ivy.el
	no-byte-compile = flyspell-correct-popup.el
	path = lib/flyspell-correct
	url = https://github.com/d12frosted/flyspell-correct
[submodule "git-link"]
	path = lib/git-link
	url = https://github.com/sshaw/git-link
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = https://codeberg.org/pidu/git-timemachine
[submodule "go-translate"]
	path = lib/go-translate
	url = https://github.com/lorniu/go-translate
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "highlight-escape-sequences"]
	path = lib/highlight-escape-sequences
	url = https://github.com/dgutov/highlight-escape-sequences
[submodule "highlight-quoted"]
	path = lib/highlight-quoted
	url = https://github.com/Fanael/highlight-quoted
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "magit"]
	no-byte-compile = lisp/magit-libgit.el
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "move-dup"]
	path = lib/move-dup
	url = https://github.com/wyuenho/move-dup
[submodule "mscl-mode"]
	path = lib/mscl-mode
	url = https://github.com/Eason0210/mscl-mode
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-roam"]
	load-path = .
	load-path = extensions
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui
[submodule "ox-gfm"]
	path = lib/ox-gfm
	url = https://github.com/larstvei/ox-gfm
[submodule "paredit"]
	path = lib/paredit
	url = https://paredit.org/cgit/paredit
[submodule "pyvenv"]
	path = lib/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "racket-mode"]
	path = lib/racket-mode
	url = https://github.com/greghendershott/racket-mode
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "reformatter"]
	path = lib/reformatter
	url = https://github.com/purcell/emacs-reformatter
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
[submodule "sis"]
	path = lib/sis
	url = https://github.com/laishulu/emacs-smart-input-source
[submodule "svg-lib"]
	path = lib/svg-lib
	url = https://github.com/rougier/svg-lib
[submodule "tempel"]
	path = lib/tempel
	url = https://github.com/minad/tempel
[submodule "tempel-collection"]
	path = lib/tempel-collection
	url = https://github.com/Crandel/tempel-collection
[submodule "terminal-focus-reporting"]
	path = lib/terminal-focus-reporting
	url = https://github.com/veelenga/terminal-focus-reporting.el
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "verb"]
	path = lib/verb
	url = https://github.com/federicotdn/verb
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode
[submodule "ws-butler"]
	path = lib/ws-butler
	url = https://github.com/lewang/ws-butler
