[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "auto-save"]
	path = lib/auto-save
	url = git@github.com:manateelazycat/auto-save.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = git@github.com:minad/cape.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "cmake-mode"]
	path = lib/cmake-mode
	url = git@github.com:emacsmirror/cmake-mode.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
[submodule "compat"]
	path = lib/compat
	url = git@git.sr.ht:~pkal/compat
[submodule "consult"]
	no-byte-compile	= consult-icomplete.el
	no-byte-compile	= consult-selectrum.el
	path = lib/consult
	url = git@github.com:minad/consult.git
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "diredfl"]
	path = lib/diredfl
	url = git@github.com:purcell/diredfl.git
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "emacsql"]
	no-byte-compile = emacsql-pg.el
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
[submodule "emacsql-sqlite-builtin"]
	no-byte-compile = emacsql-sqlite-module.el
	path = lib/emacsql-sqlite-builtin
	url = git@github.com:emacscollective/emacsql-sqlite-builtin.git
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "flyspell-correct"]
	no-byte-compile = flyspell-correct-avy-menu.el
	no-byte-compile = flyspell-correct-helm.el
	no-byte-compile = flyspell-correct-ido.el
	no-byte-compile = flyspell-correct-ivy.el
	no-byte-compile = flyspell-correct-popup.el
	path = lib/flyspell-correct
	url = git@github.com:d12frosted/flyspell-correct.git
[submodule "git-link"]
	path = lib/git-link
	url = git@github.com:sshaw/git-link.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@codeberg.org:pidu/git-timemachine.git
[submodule "go-translate"]
	path = lib/go-translate
	url = git@github.com:lorniu/go-translate.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "highlight-escape-sequences"]
	path = lib/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "highlight-quoted"]
	path = lib/highlight-quoted
	url = git@github.com:Fanael/highlight-quoted.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "lua-mode"]
	path = lib/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "magit"]
	no-byte-compile = lisp/magit-libgit.el
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "move-dup"]
	path = lib/move-dup
	url = git@github.com:wyuenho/move-dup.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "reformatter"]
	path = lib/reformatter
	url = git@github.com:purcell/emacs-reformatter.git
[submodule "rime"]
	path = lib/rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "rust-mode"]
	path = lib/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "sis"]
	path = lib/sis
	url = git@github.com:laishulu/emacs-smart-input-source.git
[submodule "super-save"]
	path = lib/super-save
	url = git@github.com:bbatsov/super-save.git
[submodule "svg-lib"]
	path = lib/svg-lib
	url = git@github.com:rougier/svg-lib.git
[submodule "switch-window"]
	path = lib/switch-window
	url = git@github.com:dimitri/switch-window.git
[submodule "tempel"]
	path = lib/tempel
	url = git@github.com:minad/tempel.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = git@github.com:joostkremers/writeroom-mode.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
